# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Download Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

      - name: Build
        run: dotnet build --configuration Release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: SkipCutscene
          path: .\SkipCutscene\bin\Release\SkipCutscene\latest.zip

      - name: Checkout dist
        uses: actions/checkout@v6
        with:
          ref: dist
          path: dist

      - name: Upload dist
        continue-on-error: false
        run: |
          cd "$Env:GITHUB_WORKSPACE"
          $content = Get-Content ".\dist\repo.json"
          $repo = $content | ConvertFrom-Json
          $version = '"AssemblyVersion": "9.9.9.9"'
          $plugin = Get-Content ".\SkipCutscene\bin\Release\SkipCutscene\SkipCutscene.json" | ConvertFrom-Json
          $old_version = $version -replace '9.9.9.9',$repo.AssemblyVersion
          $new_version = $version -replace '9.9.9.9',$plugin.AssemblyVersion
          $content = $content -replace $old_version,$new_version
          $api_level = '"DalamudApiLevel": 9999'
          $old_api_level = $api_level -replace '9999',$repo.DalamudApiLevel
          $new_api_level = $api_level -replace '9999',$plugin.DalamudApiLevel
          $content = $content -replace $old_api_level,$new_api_level
          Set-Content -Path ".\dist\repo.json" -Value $content
          Copy-Item -Path .\SkipCutscene\bin\Release\SkipCutscene\latest.zip -Destination .\dist\ -Force
          cd dist
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Regenerate PluginMaster"
      - name: Push dist
        continue-on-error: false
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: dist
          directory: dist
